<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    
    {% for stylesheet in stylesheets %}
        <link rel="stylesheet" href="{{ stylesheet }}" />
    {% endfor %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QMWS9HGPYV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-QMWS9HGPYV');
    </script>
<body class="{{ pagename }}" id="{{ pagename }}">

    <header class="{% if pagename == 'obl-foto' or pagename == 'gallery' %}green{% endif %}">

        {% if pagename == 'home' %}
        <div class="side">
            <img class="" src="/media/papavero-color3.jpg" alt="">
        </div>
        {% else %}
        <div></div>
        {% endif %}
        <div id="titoli">
            <h1>
                <a href="/">ORTO BOTANICO LOCATELLI</a>
            </h1>
            <p>La Natura maestra di vita</p>
            <p>Osservare, conoscere, fotografare</p>

            <nav>
                <a class="{% if navselect == 'home' %}selected{% endif %}" href="/">Home</a>
                <a class="{% if navselect == 'gallery' %}selected{% endif %}" href="/obl-foto">Fotografie</a>
                <a class="{% if navselect == 'about' %}selected{% endif %}" href="/about">Info</a>
            </nav>

        </div>
        {% if pagename == 'home' %}
        <div class="side">
            <img class="" src="/media/obl-map-hd.png" alt="">
        </div>
        {% else %}
        <div></div>
        {% endif %}

        {% if pagename == 'obl-foto' %}
        <div class="bg-dash"></div>
        {% endif %}
    
    </header>




    <main class="{{ pagename }}" id="{{ mainid }}">
        {{ content | safe }}
    </main>




    <footer class="light {{ pagename }}">Design © 2020 Vittorio Minuzzo</footer>

    {% for script in scripts %}
    <script src="{{ script }}"></script>
    {% endfor %}
    
</body>

</html>