---
title: Galleria fotografica
navselect: gallery
layout: base_layout
scripts: ["main.js", "https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js", "https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"]
---

<div id="photo-viewer">

    <div id="categories">

    
        
        <h3 id="paesaggi">Paesaggi</h3>

        <div class="category">
            
            <a data-fancybox="gallery" href="/img/paesaggi/a592f1eb8b3afd05e155f7833adc15fc_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/paesaggi/a592f1eb8b3afd05e155f7833adc15fc_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/603ecd460919200730200817c11e58be_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/paesaggi/603ecd460919200730200817c11e58be_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/b21b821296410c46389f42882c1e28c6_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/paesaggi/b21b821296410c46389f42882c1e28c6_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/90e0a2e3d2220e4604c5f4e3fb41a403_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/paesaggi/90e0a2e3d2220e4604c5f4e3fb41a403_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/49027ace8196da9b6ddf42e145238d4d_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/paesaggi/49027ace8196da9b6ddf42e145238d4d_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/9bd8601334684b2277d7f2418bdac2ad_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/paesaggi/9bd8601334684b2277d7f2418bdac2ad_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/f9f4c76c6546446f36bad005d2ca0c38_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/paesaggi/f9f4c76c6546446f36bad005d2ca0c38_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/dd3b2447ecbf184d0ec156835ce9d834_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/paesaggi/dd3b2447ecbf184d0ec156835ce9d834_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/3f73db6b35fde72c73442644b57a6703_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/paesaggi/3f73db6b35fde72c73442644b57a6703_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/4fe2c9bb620cddb7129fb3efbdcb930c_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/paesaggi/4fe2c9bb620cddb7129fb3efbdcb930c_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/3eff0338dd9db406840df9d39453c639_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/paesaggi/3eff0338dd9db406840df9d39453c639_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/16d5a1a04d268fffdcab817b95771db7_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/paesaggi/16d5a1a04d268fffdcab817b95771db7_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/248a419a7e2f3ec0883b1383d541d16a_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/paesaggi/248a419a7e2f3ec0883b1383d541d16a_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/14b3825afd86dd19fdd441c51b3e0037_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/paesaggi/14b3825afd86dd19fdd441c51b3e0037_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/3a79c8432988bada0bf83ba97a250f08_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/paesaggi/3a79c8432988bada0bf83ba97a250f08_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/970dee54d4aaca0ccee77107a04afe3b_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/paesaggi/970dee54d4aaca0ccee77107a04afe3b_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/paesaggi/81fc65352da2e2bfb5896a1d0f746f34_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/paesaggi/81fc65352da2e2bfb5896a1d0f746f34_s.jpg">
            </a>
            
        </div>

    
        
        <h3 id="macro">Macro</h3>

        <div class="category">
            
            <a data-fancybox="gallery" href="/img/macro/cd70aca5520e1d09b7b8dd6cdf0b7c6c_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/macro/cd70aca5520e1d09b7b8dd6cdf0b7c6c_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/aef9623767206df646606a48d9472121_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/macro/aef9623767206df646606a48d9472121_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/29d8cd839928b17500e46dac4fa40863_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/macro/29d8cd839928b17500e46dac4fa40863_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/f62e9ed51b7ffa205b883c704518f5aa_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/macro/f62e9ed51b7ffa205b883c704518f5aa_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/b827edcacc2f86a9a8762ea4f206076f_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/macro/b827edcacc2f86a9a8762ea4f206076f_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/50b3ac2b5609beaa1cc4fdc8ee68cdc8_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/macro/50b3ac2b5609beaa1cc4fdc8ee68cdc8_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/5daf422b9efa3c9f49268dd9403b439f_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/macro/5daf422b9efa3c9f49268dd9403b439f_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/4987d914371626778cb7793de938c4f0_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/macro/4987d914371626778cb7793de938c4f0_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/0cd472e95c9d2ce4d7f82dafc6918ae4_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/macro/0cd472e95c9d2ce4d7f82dafc6918ae4_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/93e659ca510ff64f338484e42b246b8e_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/macro/93e659ca510ff64f338484e42b246b8e_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/8fab66b49d52310a7e46005b26d08384_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/macro/8fab66b49d52310a7e46005b26d08384_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/01f5eae1056fd7aebce0eac808ac8519_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/macro/01f5eae1056fd7aebce0eac808ac8519_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/86135165a8f88e8e3e90f5e926449ff3_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/macro/86135165a8f88e8e3e90f5e926449ff3_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/08b0ed4c5ffe16f8c45e3913caf2730c_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/macro/08b0ed4c5ffe16f8c45e3913caf2730c_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/0f76411b61c45ee0b758a1fbc100cd26_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/macro/0f76411b61c45ee0b758a1fbc100cd26_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/e1e55ccab0723fa2e9d753aefe3310ef_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/macro/e1e55ccab0723fa2e9d753aefe3310ef_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/ef7963d2282ff196216ef74d7a005bd3_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/macro/ef7963d2282ff196216ef74d7a005bd3_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/macro/c6f22bac8996dd53cd3d1944220c4887_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/macro/c6f22bac8996dd53cd3d1944220c4887_s.jpg">
            </a>
            
        </div>

    
        
        <h3 id="foglie">Foglie</h3>

        <div class="category">
            
            <a data-fancybox="gallery" href="/img/foglie/7243fbc92ce3fceb75f93602f143636b_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/foglie/7243fbc92ce3fceb75f93602f143636b_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/7c5674be7a0ad047cde187b79e96798b_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/foglie/7c5674be7a0ad047cde187b79e96798b_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/4cdc079935c6d07937859a7cf65fb80c_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/foglie/4cdc079935c6d07937859a7cf65fb80c_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/268a88ba7d7205cf19d1048d762755aa_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/foglie/268a88ba7d7205cf19d1048d762755aa_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/474d60d17681c788ae6e676fa9d3fecf_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/foglie/474d60d17681c788ae6e676fa9d3fecf_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/84a8a68bb1034ae372c0f6896b3d6f16_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/foglie/84a8a68bb1034ae372c0f6896b3d6f16_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/ad9c3f4e4160bca8a9336ecc11620742_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/foglie/ad9c3f4e4160bca8a9336ecc11620742_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/b07d24da1b0782e371179516e77bc258_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/foglie/b07d24da1b0782e371179516e77bc258_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/5df8c693ea289b2063fc755e2f83cd3c_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/foglie/5df8c693ea289b2063fc755e2f83cd3c_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/05758b1fcc0c47807341d317ced9b31f_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/foglie/05758b1fcc0c47807341d317ced9b31f_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/49746731dd3d7c1067b683a481bf1673_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/foglie/49746731dd3d7c1067b683a481bf1673_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/9b9b250641c6f000c938a36d01ea9b73_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/foglie/9b9b250641c6f000c938a36d01ea9b73_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/f67bbf445b70fe08124fd80559e3c7b7_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/foglie/f67bbf445b70fe08124fd80559e3c7b7_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/4d3a49fe450724fea367137d4ae327d7_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/foglie/4d3a49fe450724fea367137d4ae327d7_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/c9f52675b4b456f0669937060c0257b1_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/foglie/c9f52675b4b456f0669937060c0257b1_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/65a373067e866757634a370af82811f6_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/foglie/65a373067e866757634a370af82811f6_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/foglie/cb8bb89e70f52c679c5dc3d9bcf2aae4_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/foglie/cb8bb89e70f52c679c5dc3d9bcf2aae4_s.jpg">
            </a>
            
        </div>

    
        
        <h3 id="fioriefrutti">Fiori e frutti</h3>

        <div class="category">
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/04011402e3dad3c9d3d19bfd94f1f0e5_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/fioriefrutti/04011402e3dad3c9d3d19bfd94f1f0e5_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/2823a2016e20cd6fbf8dc3c97e68a94a_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/fioriefrutti/2823a2016e20cd6fbf8dc3c97e68a94a_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/b9049cd748e8a2c888bea223dd81dd50_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/fioriefrutti/b9049cd748e8a2c888bea223dd81dd50_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/cddb230c652a1748096c8fcd09f20e85_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/fioriefrutti/cddb230c652a1748096c8fcd09f20e85_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/1d6dfb77fe16f6745b1d7b1b6e0cba27_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/fioriefrutti/1d6dfb77fe16f6745b1d7b1b6e0cba27_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/258c7e8ef0ed19720f330e61987c01df_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/fioriefrutti/258c7e8ef0ed19720f330e61987c01df_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/842b8d55fe98a32743f5e0b2db25850a_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/fioriefrutti/842b8d55fe98a32743f5e0b2db25850a_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/1d9ce30f32ce4ec811cfcf46e7a0a8c1_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/fioriefrutti/1d9ce30f32ce4ec811cfcf46e7a0a8c1_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/2f5f95a1b5ca0cd362fbe4133dbf27fc_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/fioriefrutti/2f5f95a1b5ca0cd362fbe4133dbf27fc_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/76e0561644965eccb0d1666ab1e79374_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/fioriefrutti/76e0561644965eccb0d1666ab1e79374_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/b009752888ffa80210ba0044261e7401_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/fioriefrutti/b009752888ffa80210ba0044261e7401_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/4e32acf4d394c6c06d207ff3545ccf85_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/fioriefrutti/4e32acf4d394c6c06d207ff3545ccf85_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/86810ba2b1be8dcec96c52c36a5e70eb_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/fioriefrutti/86810ba2b1be8dcec96c52c36a5e70eb_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/99b6e25b895fe4f4faac6a0d31aedcaa_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/fioriefrutti/99b6e25b895fe4f4faac6a0d31aedcaa_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/157dd684942ef54623d445ad40b3bc2e_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/fioriefrutti/157dd684942ef54623d445ad40b3bc2e_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/f00d1bdab06894327ad42990decdd24a_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/fioriefrutti/f00d1bdab06894327ad42990decdd24a_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/79bd46dd1d70b9d7e58baa2d5315692f_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/fioriefrutti/79bd46dd1d70b9d7e58baa2d5315692f_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/a7c3600bd46a34f2fd26f348b4f20803_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/fioriefrutti/a7c3600bd46a34f2fd26f348b4f20803_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/c1752c2fceb94ed4cd3a0b7ee9958dc0_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/fioriefrutti/c1752c2fceb94ed4cd3a0b7ee9958dc0_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/a0eb5d1029797c93e4134d535bb834c6_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/fioriefrutti/a0eb5d1029797c93e4134d535bb834c6_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/d137d9b23ee5befddd0649fefc43d52e_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/fioriefrutti/d137d9b23ee5befddd0649fefc43d52e_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/05121648e101a03d056790eb55ff6342_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/fioriefrutti/05121648e101a03d056790eb55ff6342_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/6cb2ccc42ee781684160a702dde0f22c_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/fioriefrutti/6cb2ccc42ee781684160a702dde0f22c_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/4cc9fe0d279e62686f2a242a744fed3b_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/fioriefrutti/4cc9fe0d279e62686f2a242a744fed3b_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/28880ab809685c54a0f899234718fe95_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/fioriefrutti/28880ab809685c54a0f899234718fe95_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/fioriefrutti/a108f4ec28be2aabb3a1548ff3f24848_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/fioriefrutti/a108f4ec28be2aabb3a1548ff3f24848_s.jpg">
            </a>
            
        </div>

    
        
        <h3 id="funghi">Funghi</h3>

        <div class="category">
            
            <a data-fancybox="gallery" href="/img/funghi/7c36c1605f886434211dd95ea68ef548_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/funghi/7c36c1605f886434211dd95ea68ef548_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/funghi/4d51a53b341fd4f18c59078e21f1a874_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/funghi/4d51a53b341fd4f18c59078e21f1a874_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/funghi/3c972faa7c12182935084efa3dd6a3a3_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/funghi/3c972faa7c12182935084efa3dd6a3a3_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/funghi/4383c6b37ff2b358f72cc5e585f2c4aa_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/funghi/4383c6b37ff2b358f72cc5e585f2c4aa_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/funghi/f171b4241c54dbbcaeedf530d02f20fb_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/funghi/f171b4241c54dbbcaeedf530d02f20fb_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/funghi/1a77845ebaa49e89854a8b688aa1c2ce_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/funghi/1a77845ebaa49e89854a8b688aa1c2ce_s.jpg">
            </a>
            
        </div>

    
        
        <h3 id="eco">Ecosistemi</h3>

        <div class="category">
            
            <a data-fancybox="gallery" href="/img/eco/c812081b91ee2043d9f837b6cc412e4c_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/eco/c812081b91ee2043d9f837b6cc412e4c_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/eco/01de592e5ec59d9c81addadc918141bb_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/eco/01de592e5ec59d9c81addadc918141bb_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/eco/a81e6d90720cfb185ea1da80ea9c2c6e_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/eco/a81e6d90720cfb185ea1da80ea9c2c6e_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/eco/000362b8e9f777cf4f48b80421f6fdc2_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/eco/000362b8e9f777cf4f48b80421f6fdc2_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/eco/4485b7e15518d17d59dff2ecfad35a97_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/eco/4485b7e15518d17d59dff2ecfad35a97_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/eco/425c3ff35b757997098b7de1a5f8b161_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/eco/425c3ff35b757997098b7de1a5f8b161_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/eco/ab5ceb73117931f2e8f04bde24001920_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/eco/ab5ceb73117931f2e8f04bde24001920_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/eco/95140765e0d7ac32f43b8f31041f796f_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/eco/95140765e0d7ac32f43b8f31041f796f_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/eco/274eaae58bf81a250b3f2b81f39994d1_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/eco/274eaae58bf81a250b3f2b81f39994d1_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/eco/97e545697c9ceaa7ec9b8fed954dce0c_h.jpg" data-caption="© Vittorio Minuzzo">
                <img data-caption="© Vittorio Minuzzo" src="/img/eco/97e545697c9ceaa7ec9b8fed954dce0c_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/eco/f32aa60a107b22d1a0ed6dffdb92b17d_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/eco/f32aa60a107b22d1a0ed6dffdb92b17d_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/eco/5cfbc5e44d9a7bd32c843b2ab7bebb11_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/eco/5cfbc5e44d9a7bd32c843b2ab7bebb11_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/eco/2c244fddec7477ae5eac0c00d311b3eb_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/eco/2c244fddec7477ae5eac0c00d311b3eb_s.jpg">
            </a>
            
            <a data-fancybox="gallery" href="/img/eco/b708d8a96fba75c0c5e018f72d39f4e9_h.jpg" data-caption="© mmoblfoto.it">
                <img data-caption="© mmoblfoto.it" src="/img/eco/b708d8a96fba75c0c5e018f72d39f4e9_s.jpg">
            </a>
            
        </div>

    

    </div>

    <div id="big-image">
        <h3 class="transparent">Immagine</h3>
        <img src="/img/default.jpg" alt="">
        <div id="caption"></div>
    </div>

</div>
    