---
title: Orto Botanico Locatelli - Fotografie
layout: base_layout
pagename: obl-foto
navselect: gallery
---
<h2><b>Galleria fotografica</b></h2>
    
<div class="galleria-immagini">

    <a href="/gallery#paesaggi">
        <img class="" src="/media/cover_paesaggi.jpg" alt="">
        <div class="caption">Paesaggi</div>
    </a>

    <a href="/gallery#macro">
        <img class="alto" src="/media/cover_macro.jpg" alt="">
        <div class="caption">Macro</div>
    </a>

    <a href="/gallery#foglie">
        <img class="basso" src="/media/cover_foglie.jpg" alt="">
        <div class="caption">Foglie</div>
    </a>

    <a href="/gallery#fioriefrutti">
        <img class="" src="/media/cover_fiori.jpg" alt="">
        <div class="caption">Fiori e Frutti</div>
    </a>

    <a href="/gallery#funghi">
        <img class="" src="/media/cover_funghi.jpg" alt="">
        <div class="caption">Funghi</div>
    </a>

    <a href="/gallery#eco">
        <img class="" src="/media/cover_eco.jpg" alt="">
        <div class="caption">Ecosistemi</div>
    </a>

</div>