---
title: Galleria Fotografica
layout: base_layout
---
<h2><b>Galleria fotografica</b></h2>
    
        <div class="galleria-immagini">
    
            <a href="/gallery.html#paesaggi">
                <img class="" src="img/cover_paesaggi.jpg" alt="">
                <div class="caption">Paesaggi</div>
            </a>
    
            <a href="/gallery.html#macro">
                <img class="alto" src="img/cover_macro.jpg" alt="">
                <div class="caption">Macro</div>
            </a>
    
            <a href="/gallery.html#foglie">
                <img class="basso" src="img/cover_foglie.jpg" alt="">
                <div class="caption">Foglie</div>
            </a>
    
            <a href="/gallery.html#fioriefrutti">
                <img class="" src="img/cover_fiori.jpg" alt="">
                <div class="caption">Fiori e Frutti</div>
            </a>
    
            <a href="/gallery.html#funghi">
                <img class="" src="img/cover_funghi.jpg" alt="">
                <div class="caption">Funghi</div>
            </a>

            <a href="/gallery.html#eco">
                <img class="" src="img/cover_eco.jpg" alt="">
                <div class="caption">Ecosistemi</div>
            </a>
    
            <!--
            <a href="/gallery.html#quadri">
                <img class="" src="img/cover_quadri.jpg" alt="">
                <div class="caption">Quadri e Composizioni</div>
            </a>
             -->
    
        </div>